

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-height: 95vh;
}

aside {
    position: absolute;
    z-index: 1000;
    max-width: 270px;
    top: -415px;
    left: 62px;
}